<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- Console appender 설정 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- File appender 설정-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"serviceID":"mycardeepdive"}</customFields>
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>

        </encoder>
        <file>/tmp/log/logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/tmp/log/mycardeepdive/mycardeepdive-%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>


    <!-- Slack appender 설정 -->
    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-error-uri"/>
    <springProperty name="PROFILE_NAME" source="spring.profiles.active"/>
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %-5level %logger{35} - %msg%n</Pattern>
        </layout>
        <username>${PROFILE_NAME}</username>
        <iconEmoji>:tired_face:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>


    <!-- Slack appender 설정 -->
    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="ASYNC_SLACK"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_SLACK"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>